<div class="background">
    <div class="register-box">
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else { 
          res.redirect('/') 
    } %>

    <% if (message) { %>
    <p class="loginValid"><%= message %></p>
    <% } %>
    <br>

    <p class="notice">Confirm Deletion - The delete is permanent.</p>

    
        <form action="/inv/delete/" method="post">
            <% if (errors) { %>
                <ul class="notice">
               <% errors.array().forEach(error => { %>
                 <li><%= error.msg %></li>
              <%  }) %>
               </ul>
              <% } %>
            <!-- <div class="email-password">
                <label for="classification_id">Classification:</label>
            </div> -->
            
            <div class="email-password">
                <label for="inv_make">Make: </label>
                <input readonly type="text" id="inv_make" name="inv_make" placeholder="e.g. Toyota" required pattern="^[A-Za-z\s]{1,20}$" value="<%= inv_make %>">
            </div>

            <div class="email-password">
                <label for="inv_model">Model: </label>
                <input readonly type="text" id="inv_model" name="inv_model" placeholder="e.g. Prius" required pattern="^[A-Za-z0-9\s]{1,20}$" value="<%= inv_model %>">
            </div>

            <div class="email-password">
                <label for="inv_year">Year: </label>
                <input readonly type="text" id="inv_year" name="inv_year" placeholder="e.g. 2018" required pattern="^[0-9]{4}$" value="<%= inv_year %>">
            </div>

            <div class="email-password">
                <label for="inv_price">Price: </label>
                <input readonly type="text" id="inv_price" name="inv_price" placeholder="e.g. 18000" required pattern="^\d+\.?\d*$" value="<%= inv_price %>">
            </div>

            <br>
            <input type="submit" value="Delete Vehicle">
            <input type="hidden" name="inv_id"
                <% if(inv_id) { %> value="<%=inv_id%>"
                <% } %>>
        </form>
    </div>
</div>
