<div class="background">
    <div class="register-box">
        <% if (title) { %>
        <h1><%= title %></h1>
        <% } else { 
              res.redirect('/') 
        } %>

        <% if (message) { %>
        <p class="loginValid"><%= message %></p>
        <% } %>
        <br>
        
        <div class="buttons">
            <button onclick='window.location.href="<%- addNewClassification %>"' id="button2">Add New Classification</button>
            <button onclick='window.location.href="<%- addNewVehicle %>"'>Add New Vehicle</button>
        </div>
        <div class="manageVehicles">
            <h2>Manage Vehicles</h2>
            <p>Select a classification from the list to see the vehicles in that classification</p>
            <%- classificationSelect %>
            <table id="inventoryDisplay"></table>
            <noscript>JavaScript must be enabled to use this page.</noscript>
        </div>
    </div>
</div>
<script src="../../js/inventory.js"></script>
